
header{ 
    background-color:navy-blue;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;\

}

nav{
    display:inline;
    border-top: 20px;
    padding: 40px;

}

ul{
    text-align: center;
    

}

li{


}

a{

}

.hdrnav{

}

.ftrnav{

}

main{

}

article{

}

#art01{

}

#art02{

}

section{

}

#sec01{

}

#sec01{

}

